
:root {
    --main-color: #75e3ba;
    --sac-color : #e86969 ;
    --setting-color : #c1cbfbf4 ;
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/* Start Setting box */
.setting-box {
    position: fixed;
    background: var(--setting-color);
    top: 0;
    left: -200px;
    width: 200px;
    z-index: 10;
    min-height: 100vh;
    transition: 0.3s;
}

.open {
    left: 0px;
}


.hold-gear {
    background: var(--setting-color);
    position: absolute;
    right: -39px;
    top: 200px;
    font-size: 25px;
    padding-left: 14px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.settings-container {
    padding-top: 7px;
    background-color: #eee;
    text-align: center;
    margin: 4px;
}
h3,
h4 {
    margin: 0 0 15px;
    padding: 0;
}

.hold-checkbox {
    display: flex;
    justify-content: space-evenly;
}



.settings-container ul {
    list-style: none;
    margin: 5px ;
    padding: 0 0 10px;
}
.settings-container ul li {
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}
.settings-container ul li:nth-child(1) {
    background-color: #99c2ff;
}
.settings-container ul li:nth-child(2) {
    background-color: #ff9800;
}
.settings-container ul li:nth-child(3) {
    background-color: #099159;
}
.settings-container ul li:nth-child(4) {
    background-color: #607d8b;
}

.settings-container ul .active {
    border: #c0bfbf 3px solid;
}


.yesno {
    padding: 1px;
}

.yesno .yes ,
.yesno .no {
    background-color: #9E9E9E;
    padding: 3px 19px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.yesno .active-bg {
    background-color: var(--main-color);
    font-weight: bold;
}


.choose-bg {
    display: inline-flex;
}
.choose-bg p {
    background: var(--main-color);
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    color: white;
}
/* End Setting box */


/* container */
.container {
    width: 1000px;
    padding: 0 15px;
    margin: auto;
}
/* container */




/* start landing page */
.landing-page {
    min-height: 100vh;
    background-image: url(../imgs/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
    /* object-fit: cover; */
    position: relative;
}

.landing-page  .overlay {
    background: #00000085;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}


.landing-page .header-area {
    z-index: 5;
    position: relative;
    color: white;
    padding-top: 20px;
}

.landing-page .header-area {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    text-shadow: 0px 0px 20px BLACK;
}

.landing-page .header-area .logo {
    font-size: 30px;
    font-weight: bold;
    /* padding-left: 20px; */
}
.landing-page .header-area .logo span {
    color: var(--sac-color);
}

.landing-page .header-area .links {
    list-style: none;
}
.landing-page .header-area .links li  {
    display: inline-block;
    padding-right: 20px ;
}
.landing-page .header-area .links li a  {
    text-decoration: none;
    color: white;
}
.landing-page .header-area .links li:hover a,
.landing-page .header-area .links li .active {
    color: var(--main-color);
}
/* End landing page */

.introduction-area {
    text-shadow: 0px 0px 20px BLACK;
    color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
}
.introduction-area p {
    color: white;
}




/* Start About Us */
.about-us {
    padding: 50px 0;
    display: flex;
}
.about-us .info-box{
    flex: 1;
}
.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: -8px;
}
.about-us .info-box p{
    line-height: 1.8;
    color: #777;
}
.about-us .image-box{
    flex: 1;
    text-align: center;
}
.about-us img{
    width: 250px;
}

/* End About Us */


/* Start Our Skills */
.skills {
    padding: 50px 0;
    background-color: #eee;    
}
 h2{
    color: var(--main-color); 
    text-align: center;  
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 25px;

}
.skills .skill-box{
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
}
.skills .skill-box .skills-name{
    width: 140px;
    line-height: 30px;
    text-align: center;

}
.skills .skill-box .skills-progres{
    width: 100%;
    background-color: #f8f8f8;
    height: 30px;
    position: relative;
    border-radius: 5px;
}
.skills .skill-box .skills-progres span{
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 5px;
}
/* End Our Skills */




/* Start Gallery  */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}
.gallery .images-box{
    text-align: center;
}
.gallery .images-box img{
    width: 200px;
    height: 200px;
    cursor: pointer;
    /* object-fit: contain; */
    opacity: 0.5;
}
.gallery .images-box img:hover {
    opacity: 1;

}

.popup-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.533);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%);
    border: 1px solid #000000;
    background-color: white;
    padding: 20px;
}
.popup-box img {
    max-width: 100%;
}
/* End Gallery  */



/* <!-- Start Timeline --> */

.timeline {
    padding-top: 100px;
    padding-bottom: 100px;
}

.timeline .timeline-container {
    position: relative;
    overflow: hidden;
}
.timeline .timeline-container::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: 50%;
    margin-left: -1px;
    background: var(--main-color);
    z-index: -10;
}



.timeline .year {
    /* position: absolute; */
    /* top: 0; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    padding: 2px 5px;
    border-radius: 4px;
    color: white;
    z-index: 100;
    font-weight: bold;
}
.timeline .timeline-left ,
.timeline .timeline-right {
    width: calc(50% - 25px);
    margin-bottom: 30px;
    position: relative;
}
.timeline .timeline-left {
    float: left;
}





.timeline .timeline-left::before {
    top: 19px;
    right: -35px;
}
.timeline .timeline-right::before {
    top: 19px;
    left: -35px;
}
.timeline .timeline-left::before ,
.timeline .timeline-right::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: white;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.timeline .timeline-left::after {
    border-color:transparent transparent transparent #eee ;
    right: -19px;
}
.timeline .timeline-right::after {
    border-color:transparent #eee transparent transparent  ;
    left: -19px;
}
.timeline .timeline-left::after ,
.timeline .timeline-right::after {
    position: absolute;
    content: "";
    border-style:solid ;
    border-width: 10px;
    height: 0;
    width: 0;
    top: 19px;
}

.clear-box{
    clear: both;
}

.timeline .timeline-right {
    float: right;
}
.timeline .content {
    padding: 20px;
    background-color: #a9f3a2;
}
.timeline .content h3 {
    color: var(--main-color);

}
.timeline .content p {

    line-height: 1.5;
}


.form #head {
    width: 100% ;
    margin-bottom: 20px;
}

.form #head {
    border: none;
    border-bottom: 2px solid #0000001f;
    color: var(--main-color);
}

.form #paragraph {
    border-bottom: 2px solid #0000001f;
}
.form #submit,
.form #cancel {
    background: var(--main-color);
    text-align: center;
    width: 100%;
    padding: 15px;
    border-radius: 21px;
    margin-top: 10px ;
} 
.form #cancel {
    display: none;
    background: rgb(60, 190, 188);
}

.form #head:hover,
.form #head:focus
 {
    border-bottom: 2px solid #00000097;
    outline: none;
}


.edit,
.delete {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 3px;
}

.edit:hover,
.delete:hover {
box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
transform: scale(1.05) rotate(-1deg);
}






.bullets {
    position: fixed;
    top: 250px;
    left: 11px;
    background-color: #4f4f4f30;
    z-index: 1000;
    padding: 8px;
    border-radius: 60px;
}
.bullets .bul {
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: transparent;
    outline: var(--main-color) solid 2px;
    border: white solid 2px;
    border-radius: 50%;
    transition: .5s;
}

.bullets .bul:nth-child(1)::after ,
.bullets .bul:nth-child(2)::after,
.bullets .bul:nth-child(3)::after,
.bullets .bul:nth-child(4)::after {
    position: absolute;
    top: 0px;
    left: 29px;
    background: var(--main-color);
    padding: 2px 13px;
    border-radius: 339px 129px 128px 307px;
    display: none;
    transition: .5s;
    opacity: 0;
}

.bullets .bul:nth-child(1)::after {
    content: "About";
}
.bullets .bul:nth-child(2)::after {
    content: "Our skilla";
    width: 70px;
}
.bullets .bul:nth-child(3)::after {
    content: "Gallery";
}
.bullets .bul:nth-child(4)::after {
    content: "Timeline";
}

.bullets .bul:hover:after {
    opacity: 1;
    display: block;
}
.bullets .bul:hover {
    background-color: var(--main-color);
}

