
:root {
    --main-color: #75e3ba;
    --sac-color : #e86969 ;
    --setting-color : #c1cbfbf4 ;
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/* Start Setting box */
.setting-box {
    position: fixed;
    background: var(--setting-color);
    top: 0;
    left: -200px;
    width: 200px;
    z-index: 10;
    min-height: 100vh;
    transition: 0.3s;
}

.open {
    left: 0px;
}


.hold-gear {
    background: var(--setting-color);
    position: absolute;
    right: -39px;
    top: 200px;
    font-size: 25px;
    padding-left: 14px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.settings-container {
    padding-top: 7px;
    background-color: #eee;
    text-align: center;
    margin: 4px;
}
h3,
h4 {
    margin: 0 0 15px;
    padding: 0;
}

.hold-checkbox {
    display: flex;
    justify-content: space-evenly;
}



.settings-container ul {
    list-style: none;
    margin: 5px ;
    padding: 0 0 10px;
}
.settings-container ul li {
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}
.settings-container ul li:nth-child(1) {
    background-color: #795548;
}
.settings-container ul li:nth-child(2) {
    background-color: #ff9800;
}
.settings-container ul li:nth-child(3) {
    background-color: #00bcd4;
}
.settings-container ul li:nth-child(4) {
    background-color: #e91e63;
}

.settings-container ul .active {
    border: #c0bfbf 3px solid;
}


.yesno {
    padding: 1px;
}

.yesno .yes ,
.yesno .no {
    background-color: #9E9E9E;
    padding: 3px 19px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.yesno .active-bg {
    background-color: var(--main-color);
    font-weight: bold;
}


.choose-bg {
    display: inline-flex;
}
.choose-bg p {
    background: var(--main-color);
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    color: white;
}
/* End Setting box */


/* container */
.container {
    width: 1000px;
    padding: 0 15px;
    margin: auto;
}
/* container */




/* start landing page */
.landing-page {
    min-height: 100vh;
    background-image: url(../imgs/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
    /* object-fit: cover; */
    position: relative;
}

.landing-page  .overlay {
    background: #00000085;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}


.landing-page .header-area {
    z-index: 5;
    position: relative;
    color: white;
    padding-top: 20px;
}

.landing-page .header-area {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    text-shadow: 0px 0px 20px BLACK;
}

.landing-page .header-area .logo {
    font-size: 30px;
    font-weight: bold;
    /* padding-left: 20px; */
}
.landing-page .header-area .logo span {
    color: var(--sac-color);
}

.landing-page .header-area .links {
    list-style: none;
}
.landing-page .header-area .links li  {
    display: inline-block;
    padding-right: 20px ;
}
.landing-page .header-area .links li a  {
    text-decoration: none;
    color: white;
}
.landing-page .header-area .links li:hover a,
.landing-page .header-area .links li .active {
    color: var(--main-color);
}
/* End landing page */

.introduction-area {
    text-shadow: 0px 0px 20px BLACK;
    color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
}
.introduction-area p {
    color: white;
}




/* Start About Us */
.about-us {
    padding: 50px 0;
    display: flex;
}
.about-us .info-box{
    flex: 1;
}
.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: -8px;
}
.about-us .info-box p{
    line-height: 1.8;
    color: #777;
}
.about-us .image-box{
    flex: 1;
    text-align: center;
}
.about-us img{
    width: 250px;
}

/* End About Us */


/* Start Our Skills */
.skills {
    padding: 50px 0;
    background-color: #eee;    
}
 h2{
    color: var(--main-color); 
    text-align: center;  
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 25px;

}
.skills .skill-box{
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
}
.skills .skill-box .skills-name{
    width: 140px;
    line-height: 30px;
    text-align: center;

}
.skills .skill-box .skills-progres{
    width: 100%;
    background-color: #f8f8f8;
    height: 30px;
    position: relative;
    border-radius: 5px;
}
.skills .skill-box .skills-progres span{
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 5px;
}
/* End Our Skills */




/* Start Gallery  */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}
.gallery .images-box{
    text-align: center;
}
.gallery .images-box img{
    width: 200px;
    height: 200px;
    cursor: pointer;
    /* object-fit: contain; */
    opacity: 0.5;
}
.gallery .images-box img:hover {
    opacity: 1;

}

.popup-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.533);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%);
    border: 1px solid #000000;
    background-color: white;
    padding: 20px;
}
.popup-box img {
    max-width: 100%;
}
/* End Gallery  */